
.icontent{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "poppins", sans-serif;
}

.irow{
    background: linear-gradient(to bottom, #002852 60%, lightgrey 40%);
    background-size: contain;
    background-repeat: no-repeat;
    min-height: 100vh;
    color: #fff;
    padding: 50px 0;
}

.icontainer{
    max-width: 1000px;
    padding: 20px;
    margin: auto;
}

.icontainer h1{
    font-size: 5.5rem;
    font-weight: bold;
    text-align: center;
}

.image-hotspot{
    margin: 50px auto 0 auto;
    position: relative;
}

.image-hotspot img{
    min-width: 100%;
    box-shadow: 0 0 14px 0 rgb(0, 0, 0, 50%);
}

.icon{
    width: 24px;
    height: 24px;
    border-radius: 100%;
    border: 3px solid #fff;
    background: #8e44ad;
    cursor: pointer;
}

.icon::after{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1,1);
    pointer-events: none;
    content: "";
    display: block;
    width: 26.4px;
    height: 26.4px;
    border-radius: 100%;
    border: 1px solid #8e44ad;
    transition: border-color 1s linear;
    animation: icon-pulse 4s linear infinite;
}

@keyframes icon-pulse{
0%{
    transform: translate(-50%, -50%) scale(1,1);
    opacity: 0;
}

20%{
    transform: translate(-50%, -50%) scale(1.5,1.5);
    opacity: 0.9;
}

50%{
    transform: translate(-50%, -50%) scale(2,2);
    opacity: 0;
}

100%{
    transform: translate(-50%, -50%) scale(2,2);
    opacity: 0;
}
}

.item{
    position: absolute;
    transform: translate(-50%, -50%);
}

.tooltip{
    position: absolute;
    padding: 15px;
    width: 20em;
    height: 12em;
    background-color: #fff;
    color: #000;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    line-height: 1.5em;
    z-index: 1;
    pointer-events: none;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.1s linear;
}

.item:hover .tooltip{
    opacity: 1;
}

.icontainer h3{
    font-size: 24px;
    margin-bottom: 10px;
    text-align: center;
}

.top .tooltip{
    left: calc(50% - 6.5em);
    bottom: 40px;
}

.top .tooltip::after{
    color: #fff;
    position: absolute;
    content: "";
    bottom: -13px;
    border-top: 13px solid;
    border-left: 13px solid transparent;
    border-right: 13px solid transparent;
    left: calc(33% - 13px);
}

.bottom .tooltip{
    left: calc(50% - 6.5em);
    top: 40px;
}

.bottom .tooltip::after{
    color: #fff;
    position: absolute;
    content: "";
    top: -13px;
    border-bottom: 13px solid;
    border-left: 13px solid transparent;
    border-right: 13px solid transparent;
    left: calc(33% - 13px);
}

.left .tooltip{
    bottom: calc(50% - 3.5em);
    right: 40px;
}

.left .tooltip::after{
    color: #fff;
    position: absolute;
    content: "";
    right: -13px;
    border-left: 13px solid;
    border-top: 13px solid transparent;
    border-bottom: 13px solid transparent;
    top: calc(70% - 13px);
}

.right .tooltip{
    bottom: calc(50% - 3.5em);
    left: 40px;
}

.right .tooltip::after{
    color: #fff;
    position: absolute;
    content: "";
    left: -13px;
    border-right: 13px solid;
    border-top: 13px solid transparent;
    border-bottom: 13px solid transparent;
    top: calc(70% - 13px);
}


@media only screen and (max-width:600px){
    .icontainer h1{
        font-size: 2em;
    }
}